*, *::before, *::after{
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 100%;
}

body {
	min-height: 100%;
}

.navbar {
    position: fixed;
    background-color: rgba(0,0,0,0.10);
    z-index: 1;
    width: 20%;
    height: 100%;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.nav li {
	text-align: left;
	padding: 4% 0 4% 10%;
}
.nav li h1 {
	text-transform: uppercase;
	font-size: 2em;
	margin: 0;
}
.nav li h2 {
	margin: 5% 0;
	font-size: 1.7em;
}

.room-links .room-name {
	margin: 10% 0;
	font-size: 1.2rem;
	font-weight: bold;
}

.room-links .room-name:hover {
	cursor: pointer;
	text-decoration: underline;
}

section {
	position: fixed;
	z-index: 1;
	width: 80%;
	top: 0;
	right: 0;
	height: 100%;
}

section .new-message {
	z-index: 2;
	width: 80%;
	display: block;
	position: fixed;
	bottom: 0;
	right: 0;
}

.message-container h2 {
	padding-left: 20px;
}

.message-container p{
	margin: 0;
}

.message-body {
	padding: 5px 10px;
}

.message-body:nth-child(even){
	background: #CCC;
}

.message-body:nth-child(odd){
	background: #FFF;
}
