<div class="modal-header">
	<h1 class="modal-title">Set your username</h1>
</div>
<div class="modal-body">
	<h3>This name will appear when you send messages</h3>
	<div class="input-group animated">
		<input type="text" ng-model="username" placeholder="Jane Doe" required autofocus>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-success" ng-click="confirm(username)">Set username</button>
</div><div class="modal-header">
    <h1 class="modal-title">Set your username</h1>
</div>
<div class="modal-body">
    <h3>This name will appear when you send messages</h3>
    <div class="input-group animated">
        <input type="text" ng-model="username" placeholder="Jane Doe" required autofocus>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="confirm(username)">Set username</button>
</div>
